body.loading {
    overflow: hidden; /* Prevent scrolling while loading */
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loader video {
    max-width: 30%;  /* Adjust the max-width */
    max-height: 30%; /* Adjust the max-height */
    object-fit: contain; /* Ensures the video scales properly */
}
